services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: letaijudge
      POSTGRES_PASSWORD: letaijudge
      POSTGRES_DB: letaijudge
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
